img{
    animation: fade-in linear;
    animation-timeline: view();
    animation-range: entry;
}

@keyframes fade-in {
    from{scale: .8; opacity: 0;}
    to{scale: 1; opacity: 1;}
    
}

.ball{
    animation: fade linear;
    animation-timeline: view();
    animation-range: entry;
}

@keyframes fade {
    from{scale: .8; opacity: 0;}
    to{scale: 1; opacity: 1;}
    
}

